* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;

}

html {
    scroll-behavior: smooth;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 2;
    transition: opacity 2s;
}

#splash h1 {
    font-family: 'Luckiest Guy', cursive;

}

#splash.fade {
    opacity: 0;
}

#landing {
    background: linear-gradient(225deg, #141113, #181418, #1a171d, #1b1b22, #1c1e27, #1b222c, #192630, #162a34, #132f37, #113338, #123738, #153b37);
    /* background-image: url(images/stardust/stardust.png);
    animation: fall 10s linear infinite; */
}

.stack{
    position:relative;
    width:100%;
    height:calc(100vh - 100px);
}

.stack .profile-description{
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    width:90%;
    transform: translateY(-50%) translateX(-50%);
}
@media (min-width: 769px){
    .stack .profile-description{
        width: 40rem;
    }
}

.stack .profile-image-frame{
    width:80vw;
    height:100%;
}

.stack .gray{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    width:auto;
    max-height:100%;
    pointer-events:none;
    filter:brightness(10%);
    @media (min-width: 769px){

    }
}

.tools-img {
    width: 120px;
}

#facebook-icon:hover {
    animation: sns 2s linear infinite;
}

#instagram-icon:hover {
    animation: sns 2s linear infinite;
}


#gmap {
    height: 40vh;
    width: 100%;
}

#tools {
    background-image: url(images/crissXcross/crissXcross.png);
    background-size: cover;
    background-position: center;
}

@keyframes fall {
    0% {
        background-position: 0px 0px;
        opacity: 1;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        background-position: 798px 798px;
        opacity: 1.0;
    }
}

@keyframes sns {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(3.0);

    }

    100% {
        transform: scale(1.0);
    }
}